/* start header section */
.banner-ki{
  display: flex;
  justify-content: space-around;
  height: 700px;
  align-items: center;
  background-image: url(images/banner/banner3.png);
  background-repeat: no-repeat;
  padding: 50px;
}
*{
  margin: 0;
}
.banner-containt{
  padding: 50px;
  text-align: right;
  padding-left: 350px;
  color: white;
}
.banner-head{
  font-size: 50px;
  font-weight: bolder;
  padding-left: 400px;
}
.btn-primary{
  padding: 15px;
  color: blue;
  background-color: white;
  border: none;
  margin-top: 15px;
  font-weight: bold;
}
/* end header section */

/* start main section 1 */

.main-ki{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction:row-reverse;
    padding: 10px;  
    padding-top: 50px;
}
.main-containt{
 padding-right: 100px;
 align-items: center;
}
.person-img{
  width: 300px;
}
/* end main section 1 */


/* main section 2 */
.middle{
  text-align: center;
  margin-top: 50px;
  font-size: 30px;
}
.middle-con{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 50px;
  margin-top: 10px;
}
.jp{
  margin-top: 10px;
}
.jimi{
  margin-top: 10px;
}
/* end main section 2 */


